.container {
    margin-top: 20px;
}
.grid {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}
.container2 {
text-align: center;

}
.container3  {
    margin-right: 30px;
    text-align: center;
}